* {margin:auto; padding:10px;}
 
#wrapper
{
	background-color:#EFF2EF;
	border:1px solid black;
	width:780px;
	text-align:center;
	overflow:auto;
}
 
#wrapper h3
{
	font-family:Verdana;
}
 
.col-content
{
	margin: auto;
	width: 300px;
	background-color:white;
	overflow:auto;
}
 
.col-content h4
{
	color:#E02634;
	font-family:Tahoma;
}
 
.col-content p
{
	font-family:Arial Narrow;
	font-size:11pt;
	text-align:left;
	margin-top:10px;
	
}
 
.col-content a
{
	text-decoration:none	
}
 
.col-content a:hover
{
	text-decoration:underline;
	color:purple;
	font-weight:bold
}